@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 550;
}
body{
    background-color: #e1e8f0;
}


.nav{
    background: #007bff;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo{
        padding: 8px 30px;
        h4{
            font-size: 20px;
        }
    }
    .user_detail{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 30px;
        .email{
            padding-right: 10px;
            font-size: 15px;
            .fa-regular{
                font-size: 18px;
                padding: 3px;
            }
        }
        .logout{
            padding-left: 10px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}


.student-profile{
    margin-top: 25px;
    .student-profile-wrapper{
        display: flex;
        justify-content:center;
        .profile-col-1{
            width: 15%  ;
            .profile-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                img{
                    width: 150px;
                    height: auto;
                }
            }
        }
        .profile-col-2{
            width: 55%;
            margin-left: 30px;
            .profile-detail{
                background-color: white;
                border-radius: 5px;
                table{
                    padding: 20px;
                    th{
                        text-align: left;
                        padding-right: 70px;
                    }
                }
            }
            .profile-result{
                display: flex;
                justify-content: space-between;
                background-color: white;
                margin-top: 15px;
                border-radius: 5px;
                .result-card{
                    display: flex;
                    text-align: center;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    margin: 5px;
                    .info{
                        color: #786450;
                        background-color: white;
                        width: 110px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .term {
                            font-size: 15px;
                            font-weight: 600;
                        }                   
                        .result {
                            font-size: 11px;
                            line-height: 15px;
                        }
                    }
                    .stats{
                        display: flex;
                        flex-direction: column;
                        color: white;
                        .box{
                            box-sizing: border-box;
                            width: 90px;
                            height: 60px;
                            background: #A084CA;
                            text-align: center;
                            padding-top: 22.5px;
                            transition: all .4s ease-in-out;
                            
                            &:hover {
                                background: #BFACE0;
                                cursor: pointer;
                            }
                            
                            &:nth-child(2) {
                                margin: 1px 0;
                            }
                        }
                    }
                }
            }
            .backToDashboard{
                margin-top: 15px;
                .dashboard-button{
                    background-color: #3E6D9C;
                    border: 0;
                    height: 40px;
                    height: 33px;
                    width: 200px;
                    font-size: 15px;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                    transition: all .8s;
                    &:hover{
                        background-color: #5DA7DB;
                        border: 1px solid white;
                    }
                    a{
                        color: inherit;
                    }
                }
            }
        }
        .profile-col-1,.profile-col-2{
            padding-left: 10px;
        }
    }
}